input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px white;
    box-sizing: border-box;
}
button {
    background-color:darkcyan;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    text-decoration:solid;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    background-image: url(Images/img17.jpg);
    opacity: 0.9;
    position: relative;
}
img.icon {
    width: 37%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
.start {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:black; 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.start-content {
    background-color:white;
    margin: 5% auto 15% auto;
    border: 1px solid gray;
    width: 60%;
}
/*.last{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: url(Images/img17.jpg);
    background-color:black; 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.last-content {
    background-color:white;
    margin: 5% auto 15% auto;
    border: 1px solid gray;
    width: 60%;
}*/
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: black;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.formim{
    height:100%;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}